[Unit]
Description=fix to prevent system from waking immediately after suspend, this is due to a bug with the power button.

[Service]
ExecStart=/bin/sh -c '/bin/echo PWRB > /proc/acpi/wakeup'
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
